@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #FAF9F6;
  color: #111111;
}

.font-serif-editorial {
  font-family: 'Playfair Display', serif;
}